.cari{
    font-weight: bold;
    margin-top: 7px;
    border: 1px solid #000;
    margin-left: 70px;
}

/*.tokenizationSelect2{
  width: 569%;
}*/

#search, #search1 {
    
}

#search input[type="text"], #search1 input[type="text"] {
    background: url(http://2.bp.blogspot.com/-El7-211Pt7o/T5HBuBrNztI/AAAAAAAAAow/bV7f0allh4Q/s1600/cari.png) no-repeat 10px 5px #fff;
    border: 0 none;
    /*font: bold 12px Arial,Helvetica,Sans-serif;*/
    font-size: 12pt;
    color: #183544;
    width: 400px;
    padding: 6px 15px 6px 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

/*#search input[type="text"]:focus {
     width: 480px;
     outline: none;
    }*/

#search{
    margin-left: 100px;
    margin-top: 9px;
}

/*#search1 input[type="text"]{
    outline: none;
}*/

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#sign{
    color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color: #183544; 
}

.navbar-default .navbar-toggle{
    border: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

a.nav-link:hover{
    color: #183544 !important;
    background: #fff !important;
}

.input{
    height: auto;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.caption{
    /*font-family: Lato !important;*/
    /*font-style: italic !important;*/
}

b{
    font-size: 13pt;
}

p{
    margin-top: 10px;
    font-size: 12pt;
}

.img-modal{
    width:100%; 
    height: 100%; 
    border-radius: 4px;
}

#footer{
    background: #183544;opacity:0.9;filter:alpha(opacity=40);
    border: 0px;

}

/*.footer{
    border: 1px solid red;
}*/

#myImg{
    position: relative;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: auto; 
    display: block; 
    max-width: 100%; 
    background-size: cover / contain no-repeat; 
    transform-origin: 50% 50% 0px;
    padding: 5px;
}

.myImg1{
    position: relative;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: auto; 
    display: block; 
    max-width: 100%; 
    background-size: cover / contain no-repeat; 
    transform-origin: 50% 50% 0px;
    padding: 5px;
}

/* dropdown */
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

/* end dropdown */

.dropdown-toggle{
    color: #fff !important;
}

#keterangan_deskripsi{
    max-width: 568px;
    min-width: auto;
}

/*.action{
    border: 1px solid #000;
    width: 43px;
}*/

#modal_edit{
    height: 480px;
}

.button{
    float: right;
    margin: 5px;
    margin-top: -38px;
}

.row1{
    height: 68px;
    margin-top: -51px;
}

#penjelasan{
    height: auto;
}

#icon_img{
    width: 20px;
    height: 20px;
    margin-top: -3px;
    /*border: 1px solid #000;*/
    /*float: right;*/
}

#select{
    width: 155px;
    background: #183544;
    border: 0px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    font-size: 12pt;
    margin-left: 250px;
}

#daterange{
    width: auto;
    background: #183544;
    border: 0px;
    color: #fff;
    margin-top: 10px;
}

input.btn.btn-primary{
    margin-top: 10px;
}

#mini{
    height: 55px;
    /*margin-top: 20px;*/
    /*border: 1px solid red;*/
}

#textarea_disabled{
    resize: none; 
    cursor: text;  
}

.centang{
    color: #34A853;
}

.remove{
    color: #EA4335;
}

.img-cover{
    position: relative;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: auto; 
    display: block; 
    max-width: 100%; 
    background-size: cover / contain no-repeat; 
    transform-origin: 50% 50% 0px;
    padding: 5px;
}

.thumbnail{
    border: 0px;
}

.details{
    float: right;
    margin-top: -38px; 
    margin-right: 5px;
}

.ket{
    margin-left: 8px;
    padding: 0px 0px 5px 0px;
}

.details1{
    float: right;
    margin-top: -38px; 
    margin-right: -3px;
}

.delete{
    float: right;
    margin-top: -38px; 
    margin-right: 5px;
}

.button2{
    float: right;
    margin: 5px;
    margin-top: -38px;
    margin-right: 1px;
}

.logo_judul{
    height:40px;
    width:40px;
    margin-top: -5px;
}

.logo{
    width: auto;
}

.button3{
    /*border: 1px solid blue;*/
    float: right;
    margin: 5px;
    margin-top: -38px;
    margin-right: -3px;
}

#Welcome{
    margin-top: 8px;
}

.panel.panel-default{
    /*border: 1px solid #000;*/
    margin-top: 64px;
    height: 65px;
}

.tanggal{
    font-size: 12pt;
}

.form-control:focus {
    box-shadow: none;
}

.select2-container--default {
    color: #183544;
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #183544 !important;
}

.select2-container--default .select2-search--inline .select2-search__field{
    border: 1px solid #000;
    padding-left: 10px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid gray !important;
}

.indeks{
    margin-top: 15px;
    margin-left: 70px;
    position: absolute;
    font-size: 12pt;
}

/*icon bar*/
.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #183544;
}

/*end icon bar*/

@media (min-width:100px) and (max-width: 770px){
    /*.tokenizationSelect2{
      width: 285%;
    }*/
    .img-modal{
        width: 100%;
        height: 100%;
    }

    .mini_bawah{
        display: none;
    }

    .mini_atas{
        height: 150px;
    }

    #search{
        margin-left: 0px;
        margin-top: 9px;
    }
    
    #search input[type="text"] {
        width: 96%;
    }

    #upload{
        margin-left: 15px;
        margin-top: 10px !important;
        width: 94%;
        /*position: fixed;*/
    }

    #nav-mini1{
        margin-left: -90px;
    }

    #nav-mini{
        margin-left: 15px;
    }
    .text-left{
        text-align: center;
        color: #fff !important;
    }
    a.btn.btn-danger.btn-block.btn-sm{
        margin-left: 20%;
    }
    #keterangan_deskripsi{
        max-width: auto !important;
        min-width: auto;
    }
    .panel.panel-default{
        margin-top: 50px;
        height: 60px;
    }
    .col-md-4.grid-item{
        margin-top: 20px;
    }
    #terapkan{
        margin-left: 10px;
    }
    #user{
        color: #fff;
    }
    .logo{
        margin-top: -7px;
    }
    /*#search input[type="text"]:focus {
        width: 96% !important;
    }*/
    .indeks{
        margin-left: -1px;
        margin-top: 7px;
    }
    .cari{
        border: 1px solid #000;
        margin-left: 0px;
    }
    .thumbnail{
        margin-top: -35px;
    }
    #select{
        margin-left: 0px;
    }
}

@media (min-width:100px) and (max-width: 990px){
    #modal_edit{
        height: auto;
    }
}

@media (min-width: 760px) and (max-width: 1205px){
    #logout{
        margin-left: 20%;
    }
    .text-left{
        text-align: center;
    }
}